<!--https://codepen.io/takeradi/pen/MyYqKX-->
<!--https://seats.better.network/apps/theaters/zone?scene=Wk8FuCpEncxKl8Snv0uP-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <link rel="stylesheet" type="text/css" href="test.css">



</head>
<body>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1024  800.4"
     width="100%" height="100%">
  <g
    onMouseDown={this.onDragStart}
    onMouseMove={this.onDrag}
    onMouseOut={this.onDrag}
    onMouseUp={this.onDragEnd}>
    <rect></rect>
    <text>xxx</text>
  </g>
</svg>


</body>
</html>
